.header_style {
    font-size: 16px;
    color: black;
}

#id_tabel {
    font-size: 14px;
    /*padding: 10px;*/
    /*padding: 1px 1px 1px 1px;*/
    /*padding-top: 1px;*/
    /*padding-bottom: 10px;*/
}

body {
    background: white url("/media/wpp.jpg") no-repeat;
}