{% extends 'menu.html' %}
{% block content %}
    <br>
    <br>
    <a href="{% url 'app1:adaugare' %}">Adaugare</a>
    <table id="id_tabel">
        <thead class="header_style">
            <th>Index</th>
            <th>Event Name</th>
            <th>Banner</th>
            <th>Data</th>
            <th>Event Description</th>
            <th>Event type</th>
        </thead>
        <tbody>
        {% for item in all_events %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.eventname }}</td>
                <td>{{ item.banner }}</td>
                <td>{{ item.data }}</td>
                <td>{{ item.eventdescription }}</td>
                <td>{{ item.event_type }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}