{% extends 'menu.html' %}
{% block content %}
<nav class="navbar fixed-bottom navbar-transparent nav-down">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Complete view</button>
                        <a href="{% url 'app1:events_list' %}"><button type="button" class="btn btn-secondary">Basic view</button></a>
                    </div>

</nav>
<center><table id="id_tabel">
        <thead class="header_style">
        </thead>
        <br><br>
        <tbody>
        {% for item in all_events %}
            <tr>
                <td width="800"><center>
                    {% if item.banner %}
                    {% if request.user.is_authenticated == True %}
                    <a href="{% url 'app1:event_detail' %}?e={{ item.id }}">
                        {% endif %}
                        <img src="/media/{{ item.banner }}" width="800"></a>
                    <br><b><h5>{{ item.eventdate }} - {{ item.event_type }}</h5></b>
                    <br>{{ item.eventdescription }}
                    {% if request.user.is_authenticated == True %}
                    <br>
                    <a href="{% url 'app1:event_detail' %}?e={{ item.id }}" class="btn btn-high btn-success"><b>Attend event</b></a>
                    <a href="{% url 'app1:modificare' item.id %}" class="btn btn-high btn-warning"><b>Edit</b></a>
                    <a href="{% url 'app1:stergere' item.id %}" class="btn btn-high btn-danger"><b>Delete</b></a>
                    {% endif%}
                    {% if request.user.is_authenticated == False %}
                    <br><a href="{% url 'login' %}">Want to <b>attend </b> or <b>modify</b> event? Login now!</a>
                    {% endif %}
                    <br><br><br>
                </center></td>
                    {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </center>
<!--<script type="text/javascript">-->
<!--    document.getElementById("id_q").value = "{{ query }}"-->
<!--</script>-->
{% endblock %}