{% extends 'menu.html' %}
{% load static %}
{% block content %}



<div>
<table width="1200px">
  <tr>

  <td width="500px" style="color:#000066">
      <b><h3>Thank you for submitting the feedback form!<br><br></h3></b>

      <h5>Within the next 3 days you will receive your certificate of attendance on email. </h5><br><br>

      <br><br>
<b><h5 style="color:#000066">For further details please contact us at:</h5></b><br>
<p>Phone: +40 772 240 395<br>
    E-mail: <a href="mailto:alin.ciuta95@gmail.com">alin.ciuta95@gmail.com</a><br>
      <br>
  </td>
  <td width="500px">
      <img src="/media/fb.jpg" width="500">
  </td>
  </tr>
</table>
</div>
{% endblock %}
