<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Onevent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="about-us">
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent nav-down" color-on-scroll="200">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">

            </div>
            <br>
<a href="{% url 'app1:home' %}">Home</a>
<a href="{% url 'app1:adaugare' %}">Adaugare eveniment</a>

<br><br><br>
<div class="page-header page-header-small">
    <div class="filter filter-danger"></div>
    <div class="content-center">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>