{% extends 'menu.html' %}
{% block content %}

<table xmlns="http://www.w3.org/1999/html">
        <thead class="header_style"></thead>
        <tbody>
            <tr>
                <td width="full"><center>
                    <img src="media/{{ object.banner }}" width="1000"></a>
                    <br>
                    <br><h3>{{ object.eventname }}</h3>
                    <br><h4>{{ object.eventdate }} - {{ object.event_type }}</h4><br>
                </center></td></tr>
        </tbody>
</table>

            <table xmlns="http://www.w3.org/1999/html">
            <thead class="header_style"></thead>
            <tbody>
                <tr>
                    <td>
                        <iframe src="{{ object.video_url }}" width="621" height="355" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </td>
                     <td>

<h3>Ask a question!</h3>
<div id="questions_section">
    {% if request.user.is_authenticated == True %}
  <form method="POST">
    {% csrf_token %}
    <div class="box">

            <div class="field">
                {% for field in form %}
                    <div class="row">
                        <label class="col-md-2  text-left" style="padding-top: 15px;">{{ field.label }}</label>
                        <div class="col-md-10">
                            <div class="form-group">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        <button class="btn btn-info" type="submit">Add question</button>
    </div>
  </form>
    {% endif %}
   {% if request.user.is_authenticated == False %}
  <a class="btn btn-outline-info" href="{% url 'login' %}">Log in to ask a question!</a><br>
   {% endif %}


  <ul>
    {% for question in all_questions %}
    <li>
     <div>
        <span>
          <strong class="text-info">{{ question.author }} </strong>
        </span>
        <p>
          {{ question.content }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>

    <strong class="text-secondary"><br>No more questions yet..</strong>

</div>
                    </td>
                </tr>
            </tbody></table>

<br><br><center><h4>Agenda</h4>
<br><br>
{{ object.eventagenda }}
<br><br></center>

{% endblock %}
