{% extends 'menu.html' %}
{% block content %}

<table xmlns="http://www.w3.org/1999/html">
        <thead class="header_style"></thead>
        <tbody>
            <tr>
                <td width="full"><center>
                    <img src="/media/bannere/preventia_sinuciderii.png" width="1000"></a>
                    <br><b><h5>13 martie 2021 - Virtual Event</h5></b>
                    <br>
                    <br><br>
                </center></td></tr>
        </tbody>
</table>

            <table xmlns="http://www.w3.org/1999/html">
            <thead class="header_style"></thead>
            <tbody>
                <tr>
                    <td><iframe width="621" height="355" src="https://www.youtube.com/embed/5HrkmCKgNqY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                     </td>
                     <td>
                        Q&A Section
                    </td>
                </tr>


{% endblock %}